<h2><%= gettext "Derniers signalements" %></h2>
<%= for signalement <- @signalements do %>
    <div class="card">
    <div class="card-body">
    <h5 class="card-title">Nuisance olfactive</h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= signalement.intensite_odeur %> | <%= signalement.cree_le %></h6>
    <p class="card-text"><%= signalement.type_odeur %></p>
    </div>
    </div>
<% end %>